# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
myenv/
*.sqlite3

# Database
chatbot.db

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs